---
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body class="bg-primary">
	<h1 class="text-3xl font-bold underline text-lightCream  "> text color</h1>
	<h1 class="text-3xl font-bold underline text-lightYellow "> link color</h1>
  </body>
</html>