
---
import '../styles/global.css'
---
<div class=" text-lg  flex gap-8">
    <a href="/" class="text-lightYellow font-battambang  hover:text-lightCream ">Home</a>
    <a href="/contact" class="text-lightYellow font-battambang hover:text-lightCream">Contact me </a>

</div>