---
import '../styles/global.css'

---

<div class="text-lightCream mt-6">
    <p class="font-bold">
        Reach out to me via the info below...or fill out the form.  </p>
        <div class="mt-4 flex gap-6 flex-col ">
            <div class="flex gap-2 place-items-center" >
                    <img src="/phone-forwarded.svg" alt="phone number icon"/>
                    <p>+254115151175</p>
            </div>
            <div class="flex gap-2 place-items-center">
                    <img src="/mail.svg" alt="gmail icon">
                    <p>brianmuthomimati@gmail.com</p>
            </div>
        </div>
   
</div>


<style>
    img{
        width:1.2rem;
    }
</style>

